<div class="container">

  <div class="upper-data">
    <img src="hot.png" *ngIf=" weatherData?.temperature >25" >
    <img src="cold.png"*ngIf=" weatherData?.temperature <25">
    <div class="weather-data">
      <div class="location">{{ weatherData?.time | date:'medium' }}</div>
      <div class = "temperture">{{weatherData?.temperature | number:'1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More inforamtion
    </div>
    <div class="more-info-cont">
      <div class="info-block">
        <div class="info-block-label">
             <img src="low-temperature.png"/>
              <span>Min</span>
              </div>
              <div class="info-block-val">
                10°C
             </div>
          </div>
          <div class="info-block">
            <div class="info-block-label">
                 <img src="timer.png"/>
                  <span>Max</span>
                  </div>
                  <div class="info-block-val">
                    20°C
                 </div>
              </div>
              <div class="info-block">
                <div class="info-block-label">
                     <img src="humidity.png"/>
                      <span>humaidity</span>
                      </div>
                      <div class="info-block-val">
                        77%
                     </div>
                  </div>
                  <div class="info-block">
                    <div class="info-block-label">
                         <img src="wind.png"/>
                          <span>wind</span>
                          </div>
                          <div class="info-block-val">
                            {{weatherData?.windspeed}} km/h
                         </div>
                      </div>
        </div>
        
        
  </div>
</div>
       